<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>terbang.com</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style-about-us.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/modal.css">
</head>

<body>
    <% include navbar-logged-in %>

    <div class="cover">
        <h1>About Us</h1>
        <h2><a href="/">Home</a>/About Us</h2>
    </div>

    <div class='find'>
        <h2>Find the Adventure of Lifetime</h2>
        <form class="find-choose" action="/find" method="POST">
            <div class="inputan">
                <label for="from">From:</label>
                <input type="text" id="from" placeholder="Keyword here" name="asal" autocomplete="off">
            </div>
            <div class="inputan">
                <label for="to">To:</label>
                <input type="text" id="to" placeholder="Keyword here" name="destinasi" autocomplete="off">
            </div>
            <div class="inputan">
                <label for="Departure">Departure date:</label>
                <input type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" id="Departure" placeholder="Keyword here" name="tglDatang" autocomplete="off">
            </div>
            <div class="find-btn">
                <button>Find</button>
            </div>
        </form>
    </div>

    <div class="content">
        <section class="header">
            <article>
                <h1>We are an NCHAN Group</h1>
                <h2>TAKE A LOOK AT OUR STORY</h2>
            </article>
        </section>

        <section class="container">
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla lectus nec diam auctor, ut
                    fringilla diam sagittis. Quisque vel est id justo faucibus dapibus id a nibh. Aenean suscipit
                    consequat lacus, sit amet mollis nulla. Morbi sagittis orci id lacus convallis tempus eget sit amet
                    metus. Sed finibus, magna at euismod aliquet, enim justo vulputate lorem, sit amet elementum dolor
                    eros sollicitudin dui. Sed ac magna mauris. Nullam lectus odio, viverra vel mi id, interdum
                    imperdiet nulla.</p>
            </article>
            <img src="/img/about1.jpg" alt="gambar about">
        </section>
    </div>
    <div class="content we-are">
        <section class="header">
            <article>
                <h1>here we are</h1>
                <h2>TAKE A LOOK</h2>
            </article>
        </section>

        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla lectus nec diam auctor, ut
                fringilla diam sagittis. Quisque vel est id justo faucibus dapibus id a nibh</p>
        </section>

        <section class="we-are-img">
            <!-- <img src="/img/we-are.jpg" alt="foto kami"> -->
            <div class="person">
                <p>nero</p>
            </div>
            <div class="person">
                <p>gusti</p>
            </div>
            <div class="person">
                <p>akbar</p>
            </div>
            <div class="person">
                <p>abu</p>
            </div>
            <div class="person">
                <p>shidek</p>
            </div>
        </section>
    </div>

    <% include footer %>

    <% include modal %>

    <script src="js/modal.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/navbar-logged-in.js"></script>
</body>

</html>