<footer>
    <section class="bag1">
        <div class="logo">
            <p>terbang</p>
            <p>.com</p>
        </div>
        <div class="isi">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae aliquam explicabo ducimus illum
                iure
                odit sit. Eos laborum molestias rem! Praesentium iusto sequi recusandae esse! Voluptas eveniet
                facere
                natus voluptatem?</p>
            <p>Copyright ©2018 All rights reserved</p>
        </div>
    </section>

    <section class="bag2">
        <p>jalan kungkingkang can u see me kung kungking, jalil, zimbabwe</p>
        <p>+62 812 3213 23</p>
        <p><a href="">admin@terbang.com</a></p>
    </section>
    <section></section>
</footer>